@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

:root {
  --primary-color: #FF6060;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 1.25rem;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: inherit
}

ul {
  list-style: none;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 9.06rem;
  height: 2.94rem;
}

.navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: .63rem;
  font-size: .75rem;
  font-weight: medium;
  text-transform: uppercase;
  color: var(--primary-color)
}

.head-title {
  width: 100%;
  height: 6.94rem;
  background-image: url(./assets/header.jpg);
  background-position: right;
  background-size: cover;
  border-radius: 10px;
  margin-top: 1.25rem;
}

.mask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.291);
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.head-title h1 {
  font-weight: 500;
  font-size: 1.5rem;
  color: #FFFFFF;
  width: 13.56rem;
  margin-left: 1rem;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%), #FF6060;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.5))), #FF6060;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%), #FF6060;
  color: #FFFFFF;
  width: 100%;
  height: 15.94rem;
    border-radius: .63rem;
  margin-top: 1.25rem;
}

.card p {
  margin: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.13rem;
  font-weight: medium;
}

.gallery-container {
  max-width: 100%;
  max-height: 255px;
  overflow: hidden;
  margin-top: 1.69rem;
  border-radius: 10px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.gallery-image {
  -o-object-fit: cover;
     object-fit: cover;
     width: 100%;
  height: 255px;
  max-width: 100%;
  position: relative;
}

#gallery-arrow__previous {
  position: absolute;
  top: 7.25rem;
  left: 0;
  cursor: pointer;
  color: #FFFFFF;
  text-align: center;
  z-index: 1;
  font-size: 1.5rem;
}

#gallery-arrow__next {
  position: absolute;
  top: 7.25rem;
  right: 0;
  cursor: pointer;
  color: #FFFFFF;
  text-align: center;
  z-index: 1;
  font-size: 1.5rem;
}

.accomodation-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1.25rem;
  color: #FF6060
}

.accomodation-info__title {
  font-size: 1.13rem;
  font-weight: 500;
}

.accomodation-info__location {
  font-size: .88rem;
  font-weight: 500;
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px; /*provisoire*/
  margin-top: 1.25rem;
}

.tag {
  font-size: .63rem;
  font-weight: medium;
  text-align: center;
  background-color: #FF6060;
  color: #FFFFFF;
  padding-top: .14rem;
  padding-right: 1.81rem;
  padding-bottom: .14rem;
  padding-left: 1.81rem;
  border-radius: .63rem;
  max-height: 1.13rem;
}

.tags ~ div {
  margin-top: 1rem;
}

.stars {
  font-size: 1.13rem
}

.identity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .66rem
}

.identity__name {
  font-size: .75rem;
}

.profile-image-container {
  max-width: 2rem;
  max-height: 2rem;
  border-radius: 50%;
  overflow: hidden;
}

.profile-image {
  width: 2rem;
  height: 2rem;
  max-width: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.collapses-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.collapse {
  cursor: pointer;
  width: 100%;
  height: 1.87rem;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FF6060;
  color: #FFFFFF;
  border-radius: 5px;
  padding-right: 1.13rem;
  padding-left: 1.13rem;
  font-size: .81rem;
}

.collapse-container + .collapse-container {
  margin-top: 1.25rem;
}

.collapse-content {
  background-color: #F6F6F6;
  border-radius: 5px;
  padding-top: 1.08rem;
  padding-right: .72rem;
  padding-bottom: .75rem;
  padding-left: .72rem;
  font-size: .75rem;
}

.flex-row-space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}